.event-cal {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid black;

  .row {
    display: flex;
    flex: 1 1 auto;

    .day-cell:last-child {
      border-right: 1px solid black;
    }
  }

  .row.day-header {
    flex: 0 0 auto;
    div {
      flex: 1 1 auto;

      p {
        text-align: center;
        border-right: 1px solid black;
      }
    }

    div:last-child {
      p {
        border: 0;
      }
    }
  }

}
