.day-container {
  border: 1px solid lightgrey;
  border-left-width: 0px;
  border-bottom-width: 0px;
  min-width: 0;
  overflow: hidden;
  padding: 1px;
  box-sizing: border-box;

  .tile-content {
    min-width: 0;

    .tile-icon {
      display: flex;
      justify-content: center;
      padding: 2px 0;
    }

    .day-date {
      margin: 0;
      padding: 0 0.4rem;
      text-align: center;
      border-radius: 10%;
      display: inline-block;
      cursor: pointer;
    }

    .day-date:hover {
      background-color: lightgrey;
    }

    .day-date.unselected-month {
      color: darkgrey;
    }

    .day-date.today {
      background-color: #303742;
      color: white;
    }

    .day-date:hover {
      background-color: lightgrey;
      color: black;
    }
  }
}

.day-container:first-child {
  border-left-width: 1px;
}

.week-container {
  height: calc(20% - 5px);
}

.week-container:last-child {
  .day-container {
    border-bottom-width: 1px;
  }
}

.cal-event {
  box-sizing: border-box;
  margin-bottom: 2px;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: #f1f1fc;
}

.cal-event:hover {
  background-color: #e8e8fc;
}

.event-span {
  .tile {
    position: absolute;
    z-index: 500;
    background-color: white;
    min-width: 200px;
    max-width: 500px;
    padding: 10px;

    .tile-action {
      padding: .4rem;
    }
  }

  .tile.events {
    max-width: 200px;

    .events-list {
      padding: .25rem .4rem;
      margin: 0;
    }
  }
}
