.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, .5);

  .dialog-box {
    margin-top: 50px;
    padding: 10px;
    border: 1px solid grey;
    background-color: white;
    opacity: .5;
  }
}
